.section {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    box-shadow: 0 0 5px rgb(212, 212, 212);
  }
  .section__header {
    margin: auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    flex-grow: 2;
  }