.section__form {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding: 25px;
}
@media (max-width: 680px) {
  .section__form {
    flex-direction: column;
  }
}
.section__form--input {
  border-color: rgb(197 197 197 / 70%);
  border-style: double;
  flex-grow: 1;
  padding: 10px;
}
@media (max-width: 680px) {
  .section__form--input {
    align-self: stretch;
    margin-bottom: 10px;
  }
}
.section__form--button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 12px;
  transition: background 0.25s, transform 0.25s;
  cursor: pointer;
}
@media (max-width: 680px) {
  .section__form--button {
    align-self: stretch;
    margin-left: 0px;
  }
}
.section__form--button:active {
  cursor: pointer;
  background-color: hsl(180, 100%, 28%);
  transform: scale(0.9);
}
.section__form--button:hover {
  background-color: hsl(180, 100%, 28%);
}
