.container {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
  }
  @media (max-width: 920px) {
    .container {
      width: 95%;
    }
  }
  .container__header {
    margin-top: 40px;
  }
  